.container {
    padding: 2rem 0;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.1rem;
    color: var(--color-accent);
    line-height: 1.6;
}