.container {
    padding: 2rem 0;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    color: var(--color-accent);
    margin-bottom: 3rem;
}